$box-background-color: #96b6ff;
$form-title-background-color: #d87300;
$form-title-color: #fff;
$label-color: #223769;
$input-background-color: #afc7ff;
$input-bordr-bottom-color: #223769;
$plaseholder-color: #96b6ff;