$wrapper-box-shadow-color: #6a6a6a;

$standard-input-border-color: #c4c4c4;
$standard-input-placeholder-color: #c4c4c4;

$valid-input-border-color: #48a848;
$valid-input-placeholder-color: #48a848;

$invalid-input-border-color: #952727;
$invalid-input-placeholder-color: #952727;

$fake-true-border-color: #239023;
$fake-true-before-background-color: #239023;

$fake-false-border-color: #89182b;
$fake-false-before-background-color: #89182b;

$fake-radio-true-border-color: #239023;
$fake-radio-true-before-background-color: #239023;

$textarea-border-color: #c4c4c4;
$textarea-placeholder-color: #c4c4c4;

$button-color: #fff;

$btn-active-background-color: #48a848;
$btn-active-border-color: #239023;
$btn-active-hover-background-color: #239023;
$btn-active-hover-border-color: #148a14;

$btn-danger-background-color: #f9647d;
$btn-danger-border-color: #f14f6a;
$btn-danger-hover-background-color: #89182b;
$btn-danger-hover-border-color: #7d0b1e;

$btn-true-background-color: #48a848;
$btn-true-border-color: #239023;
$btn-true-hover-background-color: #239023;
$btn-true-hover-border-color: #148a14;

$btn-false-background-color: #f9647d;
$btn-false-border-color: #f14f6a;
$btn-false-hover-background-color: #89182b;
$btn-false-hover-border-color: #7d0b1e;